# ipython
.ipython/*
!.ipython/profile_defaults/startup
!.ipython/profile_defaults/startup/**
*.sqlite

*__pycache__/

# Exclude compile
*packer_compiled.lua

*.swp

nvim/*
!nvim/.config/
nvim/.config/*
!nvim/.config/nvim/
!nvim/.config/pycodestyle

*nixos-switch.log
