@-moz-document url(about:newtab), url(about:privatebrowsing) {
    body::before {
        content: "";
        z-index: 100;
        position: fixed;
        background: no-repeat url('/usr/share/backgrounds/wallpaper');
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 100vh;
    }
}
